#### cd ########################################################################
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"
################################################################################

#### mv, rm, cp ################################################################
alias mv='mv -v'
alias rm='rm -v'
alias cp='cp -v'
################################################################################

#### git #######################################################################
function clone() {
    git clone --depth=1 $1
    cd $(basename ${1%.*})
    bower install &
    npm install
}
# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"
# git root
alias gitroot='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'
################################################################################

#### Misc ######################################################################
alias fs="stat -f \"%z bytes\""
alis ls="ls -a"
